nav {
    background-color: #343434 !important;
}

.page-footer {
    background-color: #343434 !important;
}

.top-logo {
    height: 64px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.collection li {
    list-style: none;
}

.scrollable-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
}

.side-nav {
    height: calc(100%);
    height: -webkit-calc(100% + 60px);
}

.side-nav a {
    display: flex;
    align-items: center;
    line-height: 1.3;
}

.flex-dynamic {
    display: flex;
    flex-direction: row;
}

.project-name {
    font-size: 0.75em;
    text-align: right;
}

.collection.with-header .collection-item {
    padding-left: 20px !important;
}

.collection .collection-item {
    padding: 5px 20px;
}

.collection-header:nth-child(2n), .collection-item:nth-child(2n) {
    background-color: #eeeeee !important;
}

@media only screen and (max-width: 700px) {
    /* flex-dynamic becomes flex-col */
    .flex-dynamic {
        flex-direction: column;
    }

    .project-name {
        text-align: left;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row *, .flex-dynamic * {
    flex: 1 1 auto;
}

.flex-row .secondary-content {
    align-self: flex-end;
    flex: 0 1 auto;
}

img.voter {
    margin: 2px;
}

.device-link {
    display: flex;
    flex-direction: row;
}

.device-model {
    text-align: right;
    float: right;
    flex-grow: 2;
}
